[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = spdk
[access "refs/*"]
	owner = group user/2672535kl
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/2672535kl
	label-Verified = -1..+1 group user/2672535kl
	push = group user/2672535kl
	read = group user/2672535kl
	rebase = group user/2672535kl
	removeReviewer = group user/2672535kl
	submit = group user/2672535kl
[access "refs/heads/*"]
	create = group user/2672535kl
	push = +force group user/2672535kl
	pushMerge = group user/2672535kl
	read = group user/2672535kl
[access "refs/tags/*"]
	push = group user/2672535kl
	push = +force group user/2672535kl
